*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    text-decoration: none;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(14deg,black 50%, red 50%);
}

.container{
    display: flex;
    align-items: center;
    justify-content:center;
}

.container h1{
    color: blueviolet;
    font-size: 50px;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

ul li{
    list-style: none;
    margin-left: 25px;
}

.isSelected{
    color: turquoise;
    text-shadow: 3px 3px 22px orange;
    font-size: 40px;
}